@import 'tailwindcss';

html,
body {
    font-family: var(--font-outfit), sans-serif;
}

@layer utilities {
    .font-outfit {
        font-family: var(--font-outfit), sans-serif;
    }

    .font-ovo {
        font-family: var(--font-ovo), serif;
    }

    .dark-theme {
        background-color: #11001f;
    }

    .hover-dark:hover {
        background-color: #2a004a;
    }

    .hover-light:hover {
        background-color: #fcf4ff;
    }

    .hover-shadow-light:hover {
        box-shadow: 4px 4px 0px #000;
    }
    .hover-shadow-dark:hover {
        box-shadow: 4px 4px 0px #fff;
    }
}
